@charset "UTF-8";
.top-wrap {
  max-width: 1370px;
  width: 95.1%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-wrap__ttl {
  font-size: 4rem;
}
.breadcrumb {
  margin-top: 40px;
  margin-left: 150px;
}
.breadcrumb-wrap {
  padding-bottom: 0;
}
.breadcrumb-wrap__nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.breadcrumb-wrap__nav__list__item:nth-of-type(1)::after {
  content: "＞";
  margin: 0 16px;
  color: #757575;
}
.breadcrumb-wrap__nav__list__item a {
  color: #757575;
  text-decoration: none;
}
.breadcrumb-wrap__nav__list__item:nth-last-of-type(1) a {
  color: #4FC045;
}